@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}
@using Pusdafi_Dev.ViewModels.ContentViewModels
@model ContentVM;

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Sub Kategori</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Konten</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Kontent</h3>
                </div>
                <div class="card">
                    <div class="mt-3 ml-3">
                        <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 pr-4 text-right">
                            <button class="btn btn-primary" id="modalSub" type="button">Tambah</button>
                            @* asp for mengambil id dari IndexSubCategory(int id) *@
                            <input type="hidden" asp-for="Id" id="inputID" />
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="konten_table">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">No</th>
                                        <th>Caption</th>
                                        <th>Judul</th>
                                        <th>Konten</th>
                                        <th width="150px">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    @*Modal Tambah*@
                    <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl" role="document">
                            <div class="modal-content" class="witdh: 200%;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Tambah Kriteria</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="add_sub" method="POST" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="categoryId" class="col-form-label">Pilih Kategori:</label>
                                                    <select asp-for="categoryId" class="form-control" id="categoryId">
                                                        <option value="">--select--</option>
                                                    </select>
                                                    <span asp-validation-for="categoryId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="subCategoryId" class="col-form-label">Pilih Sub Kategori:</label>
                                                    <select asp-for="subCategoryId" class="form-control" id="subCategoryId">
                                                        <option value="">--select--</option>
                                                    </select>
                                                    <span asp-validation-for="categoryId" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label asp-for="caption" class="col-form-label">Caption:</label>
                                            <input type="text" class="form-control" asp-for="caption">
                                            <span asp-validation-for="caption" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="judul" class="col-form-label">Judul:</label>
                                            <input type="text" class="form-control" asp-for="judul">
                                            <span asp-validation-for="judul" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="description" class="col-form-label">Deskription:</label>
                                            <textarea asp-for="description" class="form-control"></textarea>
                                            <span asp-validation-for="description" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="ImagePath" id="custom-file-label" class="col-form-label">Image</label>
                                            <input asp-for="ImagePath" id="custom-file-input" class="form-control" placeholder="Image" type="file"
                                                   onchange="document.getElementById('ImagePrv').src = window.URL.createObjectURL(this.files[0])">
                                            <span asp-validation-for="ImagePath" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="add_sub_btn" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                  

                    @* modal delete *@
                    <div class="modal fade" id="showModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" class="witdh: 200%;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Hapus Kriteria</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="delete" enctype="multipart/form-data" id="delete_sub">
                                    <div class="modal-body">
                                        <input type="hidden" id="delID">
                                        <h4>Apakah kamu yakin, ingin menghapus data <br> <center>Sub Kategori ?</center></h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="delete_sub_btn" class="btn btn-danger">Hapus</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.card -->
                <!-- ./col -->

            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
</div>

@section Scripts {
 @{
     await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }

 <script type="text/javascript">

     $(document).ready(function () {

         //trace ajax url
         function tableContent() {

                $('#konten_table').DataTable({
                    //serverSide: true,
                    responsive: true,
                    ajax: {
                        url: "Content/IndexContentAsync",
                        type: "POST",
                        datatype: 'json'
                    },
                    columns: [
                        {
                            "data": "id",
                            render: function (data, type, row, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            },
                        },
                        {
                            data: 'caption', name: 'caption'
                        },
                        {
                            data: 'judul', name: 'judul'
                        },
                        {
                            data: 'subContent', name: 'subContent'
                        },
                        {
                            data: 'aksi', name: 'aksi'
                        }

                    ],
                });
            }

         tableContent();

         //show modal
         $("#modalSub").click(function (e) {
             e.preventDefault();

             $("#showModal").modal("show");
             //fetchProduk();
         });

     });
 </script>

}